<%- include("header") -%>

<h1>Update a record</h1>

<form action="/edit/<%= model.Task_ID %>" method="post">
    <div class="form-horizontal">

        <%- include("editor") -%>

        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-default btn-warning" />
                <a class="btn btn-secondary" role="button" href="/index">Cancel</a>
            </div>
        </div>
    </div>
</form>

<%- include("footer") -%>